#frame {
}

@media only screen and (max-width: 600px) {
    #intro {
        font-size:  1em;
        height:     100%;
    }

    #middle {
    }

    #picture {
        height:     60%;
    }
}

@media only screen and (min-width: 600px) {
    #intro {
        font-size:  0.8em;
        height:     100%;
        width:      60%;
        float:      left;
    }

    #middle {
        height:     100%;
        width:      10%;
        float:      left;
    }

    #picture {
        height:     100%;
        float:      left;
        width:      30%;
    }
}
